@layoutHeaderHeight: 60px;
@layoutWidth: 960px;
@bgColor: #f4f5f5;
@listColor: #b2bac2;


.userCursor {
  user-select: none;
  cursor: pointer;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}